<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Car Parking Management  </h1>
    <p>
      your username is: <%= @name %><br>
      your slot is: <%= @slot %><br>
      your intime is: <%= @intime %><br>
      your status is: <%= @status %><br>
    </p>
    <p>
      If Any Issue Regarding Contact to Parking Incharge Coordinator.
    </p>
    <p>Thanks for Parking and have a great day!</p>
  </body>
</html>