<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Car Parking Management  </h1>
    <p>
      your outtime is: <%= @outtime %><br>
      your status is: <%= @status %><br>
      your Price is: ₹<%= @price %><br>
    </p>
    <p>
      If Any Issue Regarding Contact to Parking Incharge Coordinator.
    </p>
    <p>Thanks for Parking and have a great day!</p>
  </body>
</html>